<md-content flex id="content" layout="column" layout-fill>
    <md-button class="md-fab actionBtn" aria-label="Eat cake" ng-click="showAdd()">
        +
    </md-button>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="item in events">
            <img ng-src="{{item.face}}" alt="{{item.who}}" class="md-avatar">
            <div class="md-list-item-text">
                <h3>{{item.name}}</h3>
                  <h4>{{item.whend | date: "dd-MM-yyyy"}} {{item.whent | date:"HH:mm a"}}</h4>
                <p>
                    {{item.what}}
                </p>
            <md-button  class="md-fab bottom-left" aria-label="delete event" ng-click="deleteEvent(events.indexOf(item))" >
            <md-icon md-svg-icon="assets/svg/empty21.svg"> </md-icon>
            </md-button>
            </div>
            &nbsp;
            <md-divider inset></md-divider>
        </md-list-item>
    </md-list>
</md-content>
